@import "../styles/variables";

.chat-box {
  height: 600px;
  width: 500px;
  display: flex;
  flex-direction: column;


  &__header {
    padding: 12px;
    font-weight: bold;
    color: $dark-grey;
    background-color: $light-grey-1;
    border-radius: 8px 8px 0 0;
  }

  &__messages {
    flex-grow: 1;
    background-color: $light-grey-2;
    overflow-y: auto;
    padding: 10px 30px 20px 30px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }

  &__controls {
    padding: 12px;
    display: flex;
    justify-content: space-between;
    background-color: $light-grey-1;
    border-radius: 0 0 8px 8px;

    &__input {
      height: 45px;
      width: calc(100% - 58px);
      font-size: 17px;
      border: 1px solid #ccc;
      padding: 0 13px;
      border-radius: 5px 0 0 5px;
      outline: none;
    }

    &__submit {
      width: 55px;
      height: 47px;
      border: none;
      outline: none;
      background: #333;
      color: #fff;
      font-size: 19px;
      cursor: pointer;
      border-radius: 0 5px 5px 0;

      img {
        color: $light-grey-1;
      }
    }
  }
}
